printFiles.js
server/.prettierrc
server/src/modules/auth/auth.request.http
client/.prettierrc
docker-compose.dev.yml
docker-compose.rpi.yml
.env
.env.*
!.env.example
docker-compose.yml
sync-to-rpi.sh
client/output.txt
server/output.txt
client/fake-accounts/accounts.json
client/request.http
